@charset "utf-8";

@font-face {
    font-family: 'dalmoori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/dalmoori.woff') format('woff');
}
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
*{margin:0; padding:0;}
li {list-style: none;}
a {
    text-decoration: none;
    display: block;
}
h4 {
    font-family: 'DungGeunMo';
    color: rgb(255, 230, 0);
    font-weight: lighter;
    margin: 10px 0;
}
dt {color: rgb(25, 247, 255);}
dd {color: rgb(255, 224, 187);}
html, body {
    color: #eee;
    min-width: 1280px;
    font-family: 'Pretendard-Regular';
    background: rgb(0, 0, 63)
}
/* header */
header {
    margin: 30px;
}
header div {
    font-family: 'DungGeunMo';
    width: 1280px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header div h1 {
    font-weight: 600;
    font-size: 35px;
}
header div p {
    font-size: 22px;
    display: flex;
}
header div h1 a {
    font-weight: lighter;
    color: rgb(188, 192, 255);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}
header div p a{
    color: rgb(207, 190, 37);
    margin-left: 17px;
}
/* 메인비주얼 */
.main_visual {
    font-family: 'DungGeunMo';
    width: 100%;
    height: 900px;
    background: url('../images/pic1.jpg') center center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-attachment: fixed;
}
.main_visual div {
    width: 1280px;
    text-align: right;
    margin-top: 200px;
}
.main_visual div h2 {
    font-size: 95px;
    color: rgba(5, 12, 99, 0.4);
}
.main_visual div p {
    width: 200px;
    font-size: 40px;
    margin-top: 150px;
    margin-left: auto;
    color: rgb(255, 255, 255);
    background-color: rgba(79, 139, 0, 0.3);
    padding: 15px 160px 60px 15px;
}
/* 베스트 포트폴리오 */
.best {
    margin: 130px 0;
}
.best p {
    margin-bottom: 10px;
}
.produce {
    color: rgb(214, 0, 214);
    font-weight: bold;
    font-size: 17px;
    margin-top: 40px;
}
.best h3 {
    font-size: 40px;
    text-align: right;
    width: 1280px;
    margin: 20px auto;
}
.best .bg {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 100px 0;
}
.best .best_box {
    width: 1280px;
    margin: 0px auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.best .best_box .info {
    width: 40%;
}
.best .best_box .info .cate {
    font-size: 17px;
    font-weight: bold;
    color: rgb(255, 224, 187);
}
.best .best_box .info h4 {
    font-size: 30px;
}
.best .best_box .info .text {
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.5;/* 현재 font-size*1.5(기본폰트 16pt) */
}
.best .best_box .info dl {
    display: flex;
    margin-bottom: 10px;
}
.best .best_box .info dl dt {
    width: 28%;
    font-weight: bold;
}
.best .best_box .info ul {
    display: flex;
    margin-top: 30px;
}
.best .best_box .info ul li {
    height: 45px;
    line-height: 45px;
    border: 2px dotted rgb(25, 247, 255);
    margin-right: 10px;
}
.best .best_box .info ul li a {
    padding: 0 25px;
    color: rgb(255, 0, 255);
}
.best .best_box .info ul li:first-of-type {
    background: rgba(255, 255, 255, 0.9);
    border: 2px dotted rgb(0, 0, 63);
}
.best .best_box .info ul li:first-of-type a {
    color: rgb(224, 0, 224);
    font-weight: bold;
}
.best .best_box .youtube_list {
    width: 55%;
}
.best .best_box .youtube_list div {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
.best .best_box .youtube_list div iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.best .best_box .web_design {
    width: 55%;
}
.best .best_box .web_design figure img {
    width: 100%;
}

/* 카테고리별 유튜브 적용 */
.youtube_wrap {
    margin: 150px 0;
}
.youtube_wrap .youtube_menu {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.youtube_wrap .youtube_menu li {
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
    border: 2px dotted rgb(25, 247, 255);
    margin-right: 10px;
    box-sizing: border-box;
    margin: 0 5px;
}
.youtube_wrap .youtube_menu li a{
    color: rgb(225, 0, 225);
    font-weight: bold;
}
.youtube_wrap .youtube_menu li.on {
    background: rgba(255, 255, 255, 0.9);
    border: 2px dotted rgb(0, 0, 63);
    color: rgb(224, 0, 224);
    font-weight: bold;
}
.youtube_wrap .youtube_menu li a.on{
    color: rgb(224, 0, 224);
    font-weight: bold;
}
.youtube_wrap .youtube_cont .menu_cont {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    display: none;
}
.youtube_wrap .youtube_cont .menu_cont.on {
    display: flex;
}
.youtube_wrap .menu_cont .box {
    width: 49%;
    border: 2px solid rgb(25, 247, 255);
    box-sizing: border-box;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.08);
}
.youtube_list {
    width: 100%;
}
.youtube_list div {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
.youtube_list div iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.youtube_wrap .menu_cont .box .info {
    padding: 30px;
}
.info p {
    margin-bottom: 8px;
}
.box .info p {
    color: rgb(255, 224, 187);
    font-size: 17px;
}
.info h4 {
    font-size: 30px;
    margin-bottom: 20px;
}
.info dl {
    display: flex;
    margin-bottom: 10px;
}
.info dl dt {
    width: 20%;
    font-weight: bold;
}
.info dl dd a {
    font-weight: bold;
    color:rgb(25, 247, 255);
}
.info dl dd a:hover {
    text-decoration: underline;
}
h3 {
    font-family: 'DungGeunMo';
    font-weight: lighter;
    color: rgb(25, 247, 255);
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
}
.g_design {
    background: url('../images/pic6.jpg') center center / cover no-repeat;
}
.g_design h3{
    width: 100%;
    padding: 140px 0;
    color: rgb(25, 247, 255);
    text-align: center;
}
.g_design .img_list {
    width: 1280px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.g_design em {
    width: 1280px;
    margin: 0 auto;
    display: block;
    text-align: right;
    color: rgb(255, 230, 0);
}
.g_design .img_list div {
    width: 24%;
    margin-bottom: 80px;
    border: 3px dashed rgb(28, 255, 168);
}
.g_design .img_list div figure {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.g_design .img_list div figure img {
    transition: 0.3s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.g_design .img_list div ul {
    background-color: rgba(255, 208, 0, 0.9);
    padding: 20px;
    color: rgb(66, 5, 5);
}
.g_design .img_list div ul li:nth-of-type(1) {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
}
.g_design .img_list div ul:hover {
    background-color: rgb(37, 168, 255);
    color: rgb(0, 0, 63);
}
.g_design .img_list div:hover figure img {
    transform: scale(1.2);
}

/* footer */
footer {
    height: 200px;
    background-color: rgb(0, 8, 36);
    padding: 50px 0;
    text-align: center;
}
footer a {
    color: magenta;
}
footer ul {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
footer ul li {
    width: 200px;
    line-height: 50px;
    border: 3px dashed rgba(255, 255, 0, 0.466);
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.05);
    color: rgb(255, 255, 38);
}
footer ul li:nth-of-type(1) {
    background-color: rgb(209, 0, 0);
    border-style: none;
    padding-top: 3px;
}
footer ul li:nth-of-type(1) a {
    color: rgb(255, 255, 255);
    font-weight: bold;
}
footer p {
    font-size: 14px;
    color:rgba(253, 255, 153, 0.5);
    margin-top: 20px;
}

/* 웹&앱 디자인 .web_design */
.web_wrap { 
    /* background-color: #ccc; */
    /* color: #fff; */
    margin: 150px 0;
}
.web_wrap .web_box {
    width: 1280px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.web_wrap .web_box .web {
    width: 32%;
    margin-bottom: 50px;
}
.web_wrap .web_box .web figure { 
    height: 350px;

}
.web_wrap .web figure img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.web_wrap .web_box .info {  
    padding-top: 20px;
} 

/* .info 공통스타일 */
.info .text {
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 1.5;
}
.info ul {display: flex; margin-top: 30px;}
.info ul li:first-of-type {
    background: rgba(255, 255, 255, 0.9);
    border: 2px dotted rgb(0, 0, 63);
}

.info ul li {
    height: 45px;
    line-height: 45px;
    border: 2px dotted rgb(25, 247, 255);
    margin-right: 10px;
    box-sizing: border-box;
}
.info ul li a {
    padding: 0 25px;
    color: rgb(255, 0, 255);
}
.info ul li:first-of-type a {
    color: rgb(224, 0, 224);
    font-weight: bold;
}

/* 개인정보 .about */
.about {
    margin: 150px 0;
}
.about_info p a {
    color: rgb(255, 0, 255);
}
.about .about_box {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.about .about_box figure {
    width: 100%;
    height: 500px;
}
.about .about_box figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .about_box .about_info {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.about .about_box .about_info > div {
    width: 45%;
    margin: 20px 0;
    line-height: 1.5;
}
.about h4 {
    font-size: 30px;
    margin-bottom: 20px;
}
.about p {
    /* margin-bottom: 5px; */
    font-size: 20px;
}
.about dl {
    font-size: 20px;
}
.about dl dd {
    color: #eee;
}
.about dl dt {
    margin-bottom: 5px;
    font-weight: bold;
}
